@charset "utf-8";

*box-sizing{

box-sizing:border-sizing;
}


body{
    background-color:#c0c0c0;
    padding:0;
    margin:0;
    
}

#page{
    width:900px
    height:890px;
    margin-left:15%; 
    
    
}
header{
    width:900px;
    height:181px;
    float:left;
    background-image:url(../images/header.jpg);
    padding-left:20px;
}
#logo-pic{
    width:191px;
    height:66px;
    float:left;
    background-image: url(../images/logo.gif);
    margin-bottom:55px;
}

nav{
    width:628px;
    height:41px;
    float:left;
    background-image:url(../images/menu_bg.jpg);
    clear:left;
}

#nav-bar{
    list-style:none;
    padding:0;
    margin:0;
}

#nav-item{
    display:inline-block;
    margin-left:10px;
    padding-top:10px;
    padding-left:10px;
   
    padding-bottom:10px;
    padding-top:10px;
}

#nav-item:hover{
    background-image:url(../images/menu_bt_bg.gif);
    background-repeat: repeat-x;
    background-position: center;
}
a{
    color:white;
    text-decoration:none;
    font-family:sans-serif;
    font-size:14px;
}


section{
    
    width:920px;
    height:849px;
    background-image:url(../images/center_bg.gif);
    float:left;
    background-position:center;
}

#left-section{
    
    padding-top: 20px;
    padding-left: 20px;
    
    
    width:540px;
    height:600px;
    
    border-width:1px;
    border-style:solid;
    border-color:red;
    float:left;
    
    }



#title-container{
    
    width:186px;
    height:25px;
    float:left;
     border-width:1px;
    border-style:solid;
    border-color:red;
    
    margin-bottom:17px;
}
   
#title-icon{
    float:left;
}
    
#title-text{
    float:left;
    padding:0;
    margin:0;
    margin-left:4px;
    
    font-family:sans-serif;
    font-size: 18px;

}

#product-container{
    width:470px;
    height:155px;
    
   /* border-width:0.5px;
    border-style:solid;
    border-color:red; */
    
    border-bottom-width:1px;
    border-bottom-style:dashed;
    border-bottom-color:#ccc;
    
    float:left;

}

#product-pic-con{
    width:149px;
    height:137px;
    
    float:left;
    
  /*  border-width:0.5px;
    border-style:solid;
    border-color:red; */
    
    
}

#about-product{
    width:290px;
    height:134px;
    
    float:left;
    
    padding-left:25px;
    
 /*   border-width:0.5px;
    border-style:solid;
    border-color:red;
    */
    padding-left:25px;
}

#product-catalog{
    width:275px;
    height:134px;
    
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
    
    background-color:white;
    border-radius:5px;
    
    padding:4px;
    
    
}

#product-header{
    font-family:sans-serif;
    font-size:15px;
    color:#A81F22;
    
    text-align:left;
    
    padding:0;
    margin:0;
    margin-left:5px;
    
    margin-bottom:15px;
    
}

#product-text{
    
    font-family:sans-serif;
    font-size:11px;
    text-align:justify;
    
    margin :8px;
    
    
}


#more-details{
    padding:0;
    margin:0;
    
    text-align:right;
    color:#A81F22;
    font-size:13px;
}

.move-container{
    margin-top:19px;
    margin-bottom:20px;
}
.clear{
    
    clear:left;
}
#new-prod-con{
    width:132px;
    height:142px;
    
    float:left;
    
    border-width:1px;
    border-style:solid;
    border-color:red;
    
    margin-left:15px;
    margin-top:5px;  
    
    text-align:center;
    font-family:arial;
    color:#ccc;
    
}

#new-prod-box{
    width:132px;
    height:115px;
    
    float:left;
    
   /* background-color:red;*/
    
    border-radius:5px;
    
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
        

}

#thumb{
    margin-top:30px;
}



footer{
    width:920px;
    height:100px;
    
   float:left;
    
    background-color:white;
    
    border-top-width:1px;
    border-top-style:dashed;
    border-top-color:#ccc;
    
    background-image:url(../images/footer_bg.gif);
   background-repeat: no-repeat;
    background-position:bottom;
}

#shop-pic{
    width:500px;
    height:35px;
    
    float:left;
    
    border-width:1px;
    border-style:solid;
    border-color:red;
    
    padding:0;
    margin:0;
}


#footer-nav{
    width:400px;
    height:35px;
    
    float:left;
    
      
    border-width:1px;
    border-style:solid;
    border-color:red;
}

#footer-menu{
    list-style:none;
    padding:0;
    
    margin:0;
}


#footer-menu-item{
    display:inline-block;
    padding:8px;
    margin-left:5px;
}
#jaja{
    text-decoration:none;
    color:black;
    font-family:sans-serif;
    font-size:15px;
}

#right-section{
    width:330px;
    height:809px;
    float: left;
    
     border-width:1px;
    border-style:solid;
    border-color:red;
    
     padding-top:20px;
    padding-left:18px;

   
    }

#lang-box{
    
    width:134px;
    height:13px;
    
    float:left;
    
    border-width:1px;
    border-style:solid;
    border-color:red;
    
    box-sizing: content-box;
   
    padding-bottom:10px;s
}

#lang{
    
    font-family:sans-serif;
    font-size: 12px;
    
    color:red;
    
    padding:0;
    margin:0;
    
    float:left;
 
}

.flag-pic-border{
    border-width:1px;
    border-style:solid;
    border-color:red;
}

#flag-pic{
    margin-left:8px;
    float:left;
}

.hidden-border{
    border-width:1px;
    border-style:solid;
    border-color:white;

}

#cur-box{
    width:162px;
    height:14px;
    
    float:left;
    
    border-width:1px;
    border-style:solid;
    border-color:red;
    
    padding-bottom:8px;
    
}

#cur-text{
    padding:0;
    margin:0;
      
    color:red;

    font-family:sans-serif;
    font-size:12px;
    
    float:left;
    
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
    
    padding-left:5px;
}

#currency{
    padding:0;
    margin:0;
    
    float:left;
    
    font-family:sans-serif;
    font-size:12px;
    
     margin-left:5px;
}


#cart{
    width:337px;
    height:40px;
    
    float:left;
     
    border-width:1px;
    border-style:solid;
    border-color:red;
    
    margin-top:15px;
    margin-bottom:10px;
    
    padding-bottom: 20px;

    background-image: url(../images/border.gif);
    background-repeat:no-repeat;
    background-position:bottom;
    
}
#cart-img{
    float:left;
}

#My-cart{
    padding:0;
    margin:0;
    
    float:left;
    
    margin-left:5px;
    
    font-size:20px;
    font-family:sans-serif;
    
    color:red; 
    
}

#total{
    padding:0;
    margin:0;
    
    float:left;
    
    font-family:sans-serif;
    font-size:14px;
    
    margin-left:12px;
    margin-top:5px;
    
    border-width:1px;
    border-style:solid;
    border-color:#eeedee;

    
}
#view-cart{
    padding:0;
    margin:0;

    margin-top:4px;
}
#view-link{
    
    
   color:#a81F29;
    
}

#about-shop{
    padding:0;
    margin:0;
    
    color:red;
    
    float:left;
    
    font-family: sans-serif;
    font-size:20px;
    
    margin-left:5px;
}


#about{
     width:337px;
    height:102px;
    
    float:left;
     
    border-width:1px;
    border-style:solid;
    border-color:red;
    
    background-image:url(../images/border.gif);
    background-repeat:no-repeat;
    background-position:bottom;
}

#about-shop-text{
    padding:0;
    margin:0;
    
    width:210px;
    
    float:left;
    
    text-align:justify;
    
    font-family:sans-serif;
    font-size:13px;
       
}

#right-box{
    width:160px;
    height:534px;
    
    float:left;
    
    padding-top:10px;
    padding-right:1px;
    
    border-width:1px;
    border-style:solid;
    border-color:red;
    
}

.more-product{
    margin-top:30px;
}

#list{
    
    list-style:none;
    padding-top:10px;
    padding-right:10px;
}


#list-item{
    padding-top:2px;
    padding-bottom:2px;
    
}

#link-item{
    color:#000000;
    font-family:sans-serif;
    font-size:14px;
    text-decoration:none;
    
}
